In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [2]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PythonTeam\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
data=pd.read_csv('twitter.csv',encoding="latin-1")

In [4]:
data.head(5)

,target,ids,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
data.tail()

,target,ids,date,flag,user,text
1048570,4,1960186342,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Madelinedugganx,My GrandMa is making Dinenr with my Mum
1048571,4,1960186409,Fri May 29 07:33:43 PDT 2009,NO_QUERY,OffRoad_Dude,Mid-morning snack time... A bowl of cheese noo...
1048572,4,1960186429,Fri May 29 07:33:44 PDT 2009,NO_QUERY,Falchion,@ShaDeLa same here say it like from the Termi...
1048573,4,1960186445,Fri May 29 07:33:44 PDT 2009,NO_QUERY,jonasobsessedx,@DestinyHope92 im great thaanks wbuu?
1048574,4,1960186607,Fri May 29 07:33:45 PDT 2009,NO_QUERY,sugababez,cant wait til her date this weekend

In [6]:
data.isnull().sum()

target     0
ids        0
date       0
flag       0
user       0
text       0
dtype: int64

In [7]:
data.columns = data.columns.str.strip()  # Remove spaces from column names

In [8]:
data.drop(columns=['ids', 'date', 'flag', 'user'], inplace=True)

In [9]:
data

         target                                               text
0             0  is upset that he can't update his Facebook by ...
1             0  @Kenichan I dived many times for the ball. Man...
2             0    my whole body feels itchy and like its on fire
3             0  @nationwideclass no, it's not behaving at all....
4             0                      @Kwesidei not the whole crew
...         ...                                                ...
1048570       4           My GrandMa is making Dinenr with my Mum
1048571       4  Mid-morning snack time... A bowl of cheese noo...
1048572       4  @ShaDeLa same here  say it like from the Termi...
1048573       4             @DestinyHope92 im great thaanks  wbuu?
1048574       4               cant wait til her date this weekend

[1048575 rows x 2 columns]

In [10]:
data['target'] = data['target'].replace({4: 1})

In [11]:
def preprocess_text(text):
    text = str(text).lower()  
    text = re.sub(r"http\S+|www\S+|https\S+", '', text, flags=re.MULTILINE)  
    text = re.sub(r'\@\w+|\#', '', text)  
    text = re.sub(r'[^a-zA-Z\s]', '', text)  
    words = text.split()
    words = [word for word in words if word not in stop_words]  
    return " ".join(words)

In [12]:
x = data['text']
y = data['target']

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42,stratify=y)

In [14]:
vectorizer = TfidfVectorizer(max_features=5000)  
X_train_tfidf = vectorizer.fit_transform(x_train)
X_test_tfidf = vectorizer.transform(x_test)

In [15]:
xgb_model = XGBClassifier()
xgb_model.fit(X_train_tfidf, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [16]:
y_pred =xgb_model.predict(X_test_tfidf)

In [17]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8185
Classification Report:
               precision    recall  f1-score   support

           0       0.82      0.97      0.89    160000
           1       0.80      0.32      0.45     49715

    accuracy                           0.82    209715
   macro avg       0.81      0.65      0.67    209715
weighted avg       0.81      0.82      0.79    209715

In [18]:
import pickle
pickle.dump(xgb_model,open('xgbmodel.pickle','wb'))

In [19]:
pickle.dump(vectorizer, open('TfidfVectorizer.pickle', 'wb'))